MIDlet-Name: {{name}}
MIDlet-Version: {{version}}
MIDlet-Vendor: {{vendor}}
{{#midlets}}
MIDlet-{{number}}: {{name}}, , {{path}}
{{/midlets}}
MicroEdition-Profile: IMP-1.0
MicroEdition-Configuration: CLDC-1.1
Position: {{position}}
Range: {{range}}
Interval: {{interval}}
Behavior: {{behavior}}
